/* .StarPlayer_one_backgroundblog {
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    background-color: #7F00FF;
    filter: blur(600px);
    position: absolute;
    right: 98%;
    bottom: 72%;
} */





@media screen and (max-width: 1600px) {

}


@media screen and (max-width: 1050px) {

}



@media screen and (max-width: 650px) {

}


@media screen and (max-width: 490px) {

}